@font-face {
  font-family: 'Amatic-bold';
  src: url('../fonts/Amatic-Bold.ttf');
}
html,
body {
  margin: 0;
}
body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  height: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0b1114+0,303030+100&0.71+0,1+100 */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0b1114+0,303030+100&0.87+0,1+100 */
  background: -moz-linear-gradient(top, rgba(11, 17, 20, 0.87) 0%, #303030 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(11, 17, 20, 0.87) 0%, #303030 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(11, 17, 20, 0.87) 0%, #303030 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#de0b1114', endColorstr='#303030', GradientType=0);
  /* IE6-9 */
}
body #header {
  background-color: #111111;
  color: #ffffff;
  width: 15%;
  height: 100%;
  min-height: 100vh;
  position: fixed;
  left: 0%;
  top: 0%;
  z-index: 1;
}
@media only screen and (max-width: 1200px) {
  body #header:not(.off) {
    width: 178px;
  }
}
body #header #toggle-sidebar {
  position: absolute;
  color: #ffffff;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
body #header #toggle-sidebar.active {
  color: #ffffff;
  top: 35px;
  right: -35px;
}
body #header nav {
  padding-left: 15px;
  line-height: 2;
  color: #bbbbbb;
  font-family: 'Helvetica';
  font-weight: bold;
}
body #header nav img {
  display: block;
  width: 40%;
  margin: 25px auto;
  padding-bottom: 50px;
  padding-top: 25px;
  border-bottom: 1px solid #bbbbbb;
}
body #header nav ul {
  list-style-type: none;
  padding: 5px 15px;
}
body #header nav ul li {
  cursor: pointer;
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  transition: color 1s;
}
body #header nav ul li:hover {
  color: #ffffff;
}
body #header nav ul li.toggle-sousmenu i {
  margin-top: 7px;
  margin-right: 0px;
  float: right;
}
body #header nav ul ul.sousmenu {
  display: none;
  cursor: pointer;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.5;
}
body #main {
  width: 85%;
  position: relative;
  overflow-y: hidden;
  min-height: 100vh;
  margin-left: 15%;
  background-color: transparent;
  color: #ffffff;
}
@media only screen and (max-width: 1200px) {
  body #main:not(.header-off) {
    margin-left: 178px;
  }
}
body #main .breadcrumbs {
  display: block;
  width: 90%;
  margin: 20px auto 0px auto;
  background-color: rgba(0, 0, 0, 0.2);
  height: 50px;
  line-height: 50px;
  box-shadow: 1px 1px 10px black;
  padding-left: 15px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
body #main .breadcrumbs .breadcrumbs_style {
  position: absolute;
  right: 6%;
  margin-top: 5px;
}
body #main .breadcrumbs .breadcrumbs_style .breadcrumbs_style_element {
  height: 20px;
  display: inline-block;
  width: 20px;
  border-radius: 20px;
  margin-left: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 10px #a7a7a7;
}
body #main .breadcrumbs .breadcrumbs_style .breadcrumbs_style_element.active {
  border: 1px solid transparent;
}
body #main .breadcrumbs .breadcrumbs_style .breadcrumbs_style_element.dark {
  background-color: #111111;
}
body #main .breadcrumbs .breadcrumbs_style .breadcrumbs_style_element.light {
  background-color: #f8f8f8;
}
body #main .breadcrumbs .breadcrumbs_style .breadcrumbs_style_element.pink {
  background-color: pink;
}
body #main .breadcrumbs .breadcrumbs_item {
  display: inline-block;
  position: relative;
  padding-right: 28px;
  margin-right: 8px;
  cursor: pointer;
}
body #main .breadcrumbs .breadcrumbs_item:after {
  content: "\f054";
  width: 20px;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  font-family: "FontAwesome";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
body #main .breadcrumbs .breadcrumbs_item.active {
  margin-right: 0;
  padding-right: 0;
  font-weight: bold;
}
body #main .breadcrumbs .breadcrumbs_item:hover {
  text-decoration: underline;
}
body #main .breadcrumbs .breadcrumbs_item.active:after {
  display: none;
}
body #main article.contenu {
  text-align: center;
  padding: 25px 15px 0px 15px;
}
body #main article.contenu hr {
  width: 30%;
  color: #bbbbbb;
}
body #main article.contenu div.album-artiste:not(:last-child) {
  border-bottom: 1px solid #5a5a5a;
}
body #main article.contenu div.entete-artiste h4.followers-artiste {
  font-weight: lighter;
}
body #main article.contenu div.actions {
  padding: 15px 0px;
}
body #main article.contenu div.actions button.btn {
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 30px;
  padding: 15px 25px;
  font-size: 12px;
  margin: 0px 15px;
  width: 150px;
  min-height: 56px;
}
body #main article.contenu div.actions button.btn:hover {
  cursor: pointer;
}
body #main article.contenu div.actions button.btn.btn-principal {
  background-color: #1ed760;
  border: 2px solid transparent;
  transition: font-weight 0.5s linear;
  -moz-transition: font-weight 0.5s linear;
  -webkit-transition: font-weight 0.5s linear;
}
body #main article.contenu div.actions button.btn.btn-principal:hover {
  font-weight: bold;
  border: 2px solid transparent;
}
body #main article.contenu div.actions button.btn.btn-secondaire {
  background-color: transparent;
  border: 2px solid #bbbbbb;
  transition: font-weight 0.5s linear;
  -moz-transition: font-weight 0.5s linear;
  -webkit-transition: font-weight 0.5s linear;
}
body #main article.contenu div.actions button.btn.btn-secondaire:hover {
  font-weight: bold;
  border: 2px solid #bbbbbb;
}
body #main article.contenu div.actions button.btn.btn-transparent {
  background-color: transparent;
  border: 2px solid transparent;
  transition: font-weight 0.5s linear;
  -moz-transition: font-weight 0.5s linear;
  -webkit-transition: font-weight 0.5s linear;
}
body #main article.contenu div.actions button.btn.btn-transparent:hover {
  font-weight: bold;
  border: 2px solid transparent;
}
body #main article.contenu div.description-artiste {
  padding: 15px 30px;
}
.album-artiste {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  text-align: left;
  padding: 25px 0px;
}
.album-artiste.pochette-haut {
  flex-direction: column;
  align-items: center;
}
.album-artiste.pochette-droite {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}
.album-artiste .pochette-album {
  width: 30%;
}
.album-artiste .pochette-album .roll {
  background: center center no-repeat #fff;
  height: 363px;
  position: absolute;
  text-align: center;
  line-height: 363px;
  width: 30%;
  z-index: 10;
  opacity: 0.1;
}
.album-artiste .pochette-album .roll:before {
  content: "\f00e";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #000000;
  font-size: 40px;
  padding-right: 0.5em;
  position: absolute;
  top: 0;
  left: 95px;
}
.album-artiste .pochette-album img {
  display: block;
  width: 70%;
  margin: 0px auto;
  padding: 15px;
}
.album-artiste .titres-album {
  list-style-type: none;
  line-height: 2;
  width: 60%;
  padding-left: 0px;
}
.album-artiste .titres-album li {
  display: block;
}
.album-artiste .titres-album li:hover {
  cursor: pointer;
}
.album-artiste .titres-album li .bouton-play {
  display: inline-block;
  margin-right: 2%;
  width: 4%;
}
.album-artiste .titres-album li .bouton-play.hidden {
  visibility: hidden;
}
.album-artiste .titres-album li .numero-titre {
  margin-right: 2%;
  display: inline-block;
  width: 4%;
}
.album-artiste .titres-album li .duree-titre {
  float: right;
}
#footer {
  position: fixed;
  align-self: flex-end;
  height: 80px;
  width: 100%;
  bottom: 0;
  background-color: #3E3E3E;
  z-index: 999;
  display: none;
}
#footer audio {
  width: 100%;
  background-color: transparent;
}
#footer #audioPlayer {
  width: 100%;
  height: 80px;
  display: none;
}
.hidden {
  display: none;
}
/* Notre carousel super cool */
div#slider {
  padding: 30px 0px;
  perspective: 350px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 10px black;
  overflow: hidden;
  min-height: 350px;
}
span.slider-icone-rotation {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  font-size: 30px;
  transition: 0.6s color;
  position: absolute;
  border-bottom: none;
  top: 45%;
}
span.slider-icone-rotation:hover {
  color: #888;
  cursor: pointer;
}
span.slider-icone-rotation.slider-icone-rotation-left {
  left: 5%;
}
span.slider-icone-rotation.slider-icone-rotation-right {
  right: 5%;
}
figure#slider-rotation {
  transform-style: preserve-3d;
  min-height: 350px;
  transform-origin: 50% 50% -500px;
  transition: 1s;
}
figure#slider-rotation img {
  width: 40%;
  min-width: 300px;
  max-width: 350px;
  min-height: 300px;
  max-height: 350px;
  position: absolute;
  left: 30%;
  transform-origin: 50% 50% -500px;
  cursor: pointer;
}
